form {
  width: 100%;
  display: flex;
  flex-direction: column;
  input {
    display: block;
    margin-bottom: 1rem;
    width: 100%;
    height: 2.5rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }
  .button {
    margin: 1rem auto;
    button {
      padding: 0.5rem 2rem;
      color: var(--color-white);
      font-weight: 200;
    }
  }
  textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    resize: none;
    height: 5rem;
  }
}
