.portfolio {
  .container {
    .main {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      width: 100%;
    }
  }
}

// ========== Media Queries ==========
@media screen and (max-width: 768px) {
  .portfolio {
    .container {
      .main {
        grid-template-columns: repeat(2, 1fr);
      }
    }
  }
}

@media screen and (max-width: 480px) {
  .portfolio {
    .container {
      .main {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}
