.nav {
  background-color: rgba(255, 255, 255, 0.3);
  width: max-content;
  padding: 0.7rem 1.7rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  bottom: 1rem;
  transform: translateX(-50%);
  display: flex;
  gap: 0.8rem;
  border-radius: 3rem;
  backdrop-filter: blur(15px);
  a {
    background: transparent;
    padding: 0.8rem;
    display: flex;
    color: var(--color-text);
    font-size: 1.1rem;
    border-radius: 50%;
    &:hover {
      background-color: var(--color-primary-opacity);
    }
    &.active {
      background: var(--color-text);
      color: var(--color-bg);
    }
  }
  .up {
    position: absolute;
    right: -30vw;
    top: 0;
    background: var(--color-primary-opacity);
    border-radius: 50%;
  }
}

// ========== Media Queries ==========
@media screen and (max-width: 900px) {
  .nav {
    .up {
      display: none;
    }
  }
}
@media screen and (max-width: 480px) {
  .nav {
    padding: 0.7rem 1rem;
    gap: 0.4rem;
  }
}
@media screen and (max-width: 350px) {
  .nav {
    a {
      padding: 0.5rem;
    }
  }
}
