.header {
  min-height: 100vh;
  .container {
    text-align: center;
    height: 100vh;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 4fr;
    grid-gap: 0.2rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .me {
      display: grid;
      grid-template-columns: 1fr 2fr 1fr;
      justify-items: center;
      .social {
        align-self: end;
      }
      .photo {
        img {
          margin: 0 auto;
          max-width: 70%;
        }
      }
      .scrollDown {
        align-self: end;
        white-space: nowrap;
        transform: rotate(90deg) translateX(-2.3rem);
        font-weight: 300;
        margin-bottom: 2rem;
      }
    }
  }
}

// ========== Media Queries ==========
@media screen and (max-width: 1024px) {
  .header {
    .container {
      .me {
        grid-template-columns: 1fr 5fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .container {
      .me {
        grid-template-columns: 1fr;
        align-self: start;
        .photo {
          img {
            margin: 0 auto;
            max-width: 100%;
          }
        }
        .scrollDown {
          display: none;
        }
      }
    }
  }
}
