.header {
  position: relative;
  .container {
    text-align: center;
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 0.8rem;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    .me {
      display: grid;
      grid-template-columns: 25% 50% 25%;
      width: 100%;
      justify-items: center;
      .social {
        align-self: end;
      }
      .photo {
        img {
          margin: 0 auto;
          width: 100%;
          height: 100%;
        }
      }
      .scrollDown {
        align-self: end;
        white-space: nowrap;
        transform: rotate(90deg) translateX(-2.3rem);
        font-weight: 300;
        margin-bottom: 2rem;
      }
    }
  }
  .switch {
    position: absolute;
    right: 1.5rem;
    top: 1.5rem;
    font-size: 1.5rem;
    color: var(--color-text);
    cursor: pointer;
    transition: var(--transition);
    &:hover {
      color: var(--color-primary-variant);
      transform: rotate(20deg) scale(1.02);
    }
  }
}

// ========== Media Queries ==========
@media screen and (max-width: 1024px) {
  .header {
    .container {
      .me {
        //grid-template-columns: 1fr 5fr 1fr;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .header {
    .container {
      .me {
        grid-template-columns: 1fr;
        align-self: start;
        .photo {
          img {
            margin: 0 auto;
            max-width: 100%;
          }
        }
        .scrollDown {
          display: none;
        }
      }
    }
    .switch {
      &:hover {
        color: var(--color-text);
        transform: none;
      }
    }
  }
}
