// ========== Font ==========
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;500&display=swap");

// ========== Variables ==========
:root {
  --color-primary: #94505c;
  --color-primary-opacity: rgba(215, 158, 169, 0.8);
  --color-primary-variant: #ffa600;
  --transition: all 400ms ease;

  --container-width-lg: 75vw;
  --container-width-md: 86vw;
  --container-width-sm: 90vw;
}
html[data-theme="dark"] {
  --color-bg: #000000;
  --color-text: #fff;
  --color-light: rgba(255, 255, 255, 0.6);
}
html[data-theme="light"] {
  --color-bg: #d7c7ca;
  --color-text: #000000;
  --color-light: rgba(49, 44, 44, 0.6);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.7;
  font-weight: 200;
}

// ========== General Styles ==========
h1,
h2,
h3,
h4 {
  font-weight: 500;
  text-align: center;
}

h1 {
  font-size: 2.5rem;
}

section,
header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  width: var(--container-width-lg);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: auto auto;
  min-height: 100%;
  align-items: center;
  justify-items: center;
}

.text-light {
  color: var(--color-light);
  text-align: center;
}

a {
  color: var(--color-primary);
  transition: var(--transition);
  &:hover {
    color: var(--color-text);
  }
}

.btn {
  width: max-content;
  display: inline-block;
  color: var(--color-text);
  border: 1px solid var(--color-primary);
  padding: 0.75rem 1.2rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: var(--transition);
  &:hover {
    background-color: var(--color-text);
    color: var(--color-bg);
    border-color: transparent;
  }
}

.btn-primary {
  background: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-bg);
}
.btn-primary-variant {
  background: var(--color-primary-variant);
  border: 1px solid var(--color-primary-variant);
  color: var(--color-bg);
}

img {
  display: block;
  width: 100%;
  object-fit: cover;
}
.swiper-wrapper {
  padding-bottom: 1.8rem !important;
}
.swiper-pagination-bullet {
  background-color: #fff !important;
  bottom: 0 !important;
}

// ========== Media Queries ==========
@media screen and (max-width: 1024px) {
  .container {
    width: var(--container-width-md);
  }
  section {
    margin-top: 6rem;
  }
}

@media screen and (max-width: 600px) {
  .container {
    width: var(--container-width-sm);
  }
  section > h2 {
    margin-bottom: 2rem;
  }
}
